.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007bff;
}

.social-icon i {
    font-size: 24px;
}
